.checkout-form {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field {
    margin-bottom: 15px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(83,152,173,.74);
    border-radius: 8px;
    box-shadow: inset 2px 3px 10px 4px #2f87913d;
    background-color: #feffff17;
    padding: 8px 20px;
    width: 300px;
}

.form-field label {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.form-field input {
    background-color: white;
    color: black;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    margin-bottom: 10px;
}

::placeholder {
    color: #666;
    font-style: italic;
}

/* Preventing browsers' and extensions' autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    font-size: 16px;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
}

.form-field p {
    color: #caf9ff;
    font-size: 22px;
    font-weight: 600;
}

.total-price {
    margin: 0 0 16px 0;
    color: #caf9ff;
    font-size: 24px;
    font-weight: 700;
}

button {
    margin-top: 8px;
    background: linear-gradient(#3cbfc4, #135c66);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 32px;
}

.stripe-container {
    width: 90vw;
    max-width: 500px;
}

.payment-submision {
    margin-top: 14px;
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.payment-success {
    padding: 20px;
    text-align: center;
    margin-top: 20vh;
}

.payment-success h1 {
    color: #caf9ff;
    font-size: 36px;
    margin: 0 auto 20px auto;
    border-bottom: 2px solid #caf9ff;
    max-width: 420px;
}

.payment-success p, .payment-success h3 {
    color: white;
}

.info-box {
    margin: 20px auto;
    padding: 15px;
    background-color: #f0f8ff;
    border-radius: 8px;
    border: 1px solid rgba(83,152,173,.74);
    box-shadow: inset 2px 3px 10px 4px #2f87913d;
    background-color: #feffff17;
    max-width: 400px;
}

.info-box p {
    color: white;
    font-size: 18px;
}

.info-box h3 {
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}