h1 {
  font-size: 2rem;
}

.reservation-panel {
  margin-top: 4rem;
  padding: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.158);
  width: 100vw;
  text-align: center;
}

.checkout-btn {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0.4rem 1rem;
  background: linear-gradient(to bottom, #2fb2b6 10%, #135c66 100%);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.checkout-btn:hover,
.checkout-btn:active {
  background: linear-gradient(to bottom, #4fd1d9 10%, #0f4b56 100%);
  transition: background-color 0.2s ease-in-out;
}


.cancel-btn {
  margin-left: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0.4rem 1rem;
  background: linear-gradient(to bottom, #ca3131 10%, #900 100%);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.cancel-btn:hover,
.cancel-btn:active {
   background: linear-gradient(to bottom, #c52727 10%, #690000 100%);
  transition: background-color 0.2s ease-in-out;
}